@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  --primary :#007DFC;
  --mediumprimary:#007DFC4D;
  --darkgrey:#000000B3;
  --lightgrey: #1E1E1E4D;
  --mediumgrey:#1E1E1EB3;
}



body {

  font-family: Arial, Helvetica, sans-serif;
}
