@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary :#007DFC;
  --mediumprimary:#007DFC4D;
  --darkgrey:#000000B3;
  --lightgrey: #1E1E1E4D;
  --mediumgrey:#1E1E1EB3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
