@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #007dfc;
  --mediumprimary: #007dfc4d;
  --darkgrey: #000000b3;
  --lightgrey: #1e1e1e4d;
  --mediumgrey: #1e1e1eb3;
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
}
